.sass-cache
.vagrant
/node_modules
/vendor
/yii
/yii_test
composer.phar
phpunit.phar
~$collections.xlsx
/scratch/*
.DS_Store
/tmp
node_modules
*node_modules*
**/logs/*.log*
*/runtime/cache/*
*/runtime/debug/*
*/runtime/queue/*
*/runtime/HTML/*
*/runtime/URI/*
!*/runtime/*/.gitkeep
*/web/index.php
*/web/index-test.php
*/web/robots.txt
*/web/assets/*
*/config/*-local.php
*.swp

/*/web/*importmap.json
/*/web/app.js
/*/web/dist

!/**/.gitkeep
.ti/backup*
/cron
/queue

*.hot-update.*

yarn-error.log