.email-btn {
	font-size: 14px;
	padding: 6px 12px;
	margin-bottom: 0;

	display: inline-block;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;

	background-color: #58c1e6 !important;
	border-color: transparent !important;
	border-radius: 15px !important;

	* {
		color: #fff !important;
	}
}
