table {
	&#mainTable {
		margin: 0 auto;
		padding: 0;
		background-color: white;

		.bg-grey {
			background-color: $light-grey;
		}

		.bg-black {
			background-color: #0b2632;
		}

		.bg-white {
			background-color: $white;
		}
	}

	td.align-top {
		vertical-align: top;
	}
}
