// GRID
$container-width: 640px;

// COLOURS
$grey-navy: #71777b;
$navy: #28343d;
$primary-red: #c20016;
$keyline-grey: #c8c8c8;
$shaker: #3f454e;
$white: #ffffff;
$text-grey: #666666;
$light-grey: #f1f1f1;
$new-green: #417505;

// Shadow

.shadow {
	box-shadow: 0 0 8px rgba(black, 0.15);
	transform: scale(1);
}
